---
layout: default
---
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v6.0"></script>
<!-- Start Hero -->
<div class="hero" style="background: url('{{ site.baseurl }}/img/{{ site.hero.hero_img }}') no-repeat; background-size: cover;">
    <div class="hero-content">
        <div class="container-fluid">
            <div class="hero-content-inner">
                <h1>{{ site.hero.hero_title }}</h1>
                <p>{{ site.hero.hero_description }}</p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        
        <div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8 form">
            <h3><svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>Concerte una cita</h3>
            <form action="https://getsimpleform.com/messages?form_api_token={{ site.api_token }}" method="post">
                <div class="form-field">
                    <input name="name" type="text" placeholder="Nombre" required>
                </div>
                <div class="form-field">
                    <input name="phone" type="tel" placeholder="Teléfono" required>
                </div>
                <div class="form-field">
                    <input name="email" type="email" placeholder="Correo electrónico" required>
                </div>
                <div class="form-field">
                    <textarea name="comments" placeholder="Mensaje" required></textarea>
                </div>
                <input type="submit" class="btn btn-default" value="Enviar">
            </form>
        </div>

    </div>
</div>
<!-- End Hero -->

<!-- Start 3 columns -->
<div class="three-shade-col">
    <div class="col-sm-4">
        <svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>
        <h3>Contacte conmigo</h3>
        <ul>
            {% if site.contact.phone %}<li><strong>Teléfono:</strong> {{ site.contact.phone }}</li>{% endif %}
            {% if site.contact.emergency %}<li><strong>Emergencias:</strong> {{ site.contact.emergency }}</li>{% endif %}
            {% if site.contact.email %}<li><strong>Correo electrónico:</strong> {{ site.contact.email }}</li>{% endif %}
        </ul>
    </div>
    <div class="col-sm-4">
        <svg class="icon icon-clock-o"><use xlink:href="#icon-clock-o"></use></svg>
        <h3>Disponibilidad</h3>
        <table>
            <tbody>
                <tr>
                    <td>Lunes – Viernes</td>
                    <td>{{ site.monday_friday }}</td>
                </tr>
                <tr>
                    <td>Sábado</td>
                    <td>{{ site.saturday }}</td>
                </tr>
                <tr>
                    <td>Domingo</td>
                    <td>{{ site.sunday }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-4">
        <svg class="icon icon-map-marker"><use xlink:href="#icon-map-marker"></use></svg>
        <h3>Ubicación</h3>
            <p>
                {{ site.contact.address }}
            </p>
    </div>
</div>
<!-- End 3 columns -->

<!-- Start About -->
<div id="about" class="about">
    <div class="container-fluid">
        <h2 class="section-title">Acerca de</h2>
        <div class="row">
            <div class="col-sm-6">
                <h3>Salvador Meza Velázquez</h3>
                <p>El doctor Meza Velázquez se recibió como médico general en la Universidad Michoacana de San Nicolás De Hidalgo, realizó su especialidad en Ortopedia y Traumatología en el hospital Regional del ISSSTE Licenciado Adolfo López Mateos de la CDMX, así mismo realizó dos cursos de alta especialidad: el primero en Reemplazos articulares en el Centro Médico Nacional "20 de Noviembre" del ISSSTE y el segundo en artroscopia, realizado en el Hospital de Traumatología y Ortopedia de Lomas Verdes del IMSS.</p>
                <br>
                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <img src="img/about_list_1.jpg" alt="...">
                        </div>
                    </div>
                    <div class="media-body">
                        <h4>Especialidad en Ortopedia y Traumatología </h4>
                        <p>Hospital Regional Lic. Adolfo Lopez Mateos del ISSSTE CDMX</p>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <img src="img/about_list_2.png" alt="...">
                        </div>
                    </div>
                    <div class="media-body">
                        <h4>Curso de Alta Especialidad en Artroscopia</h4>
                        <p>Hospital de Traumatología y Ortopedia Lomas Verdes del IMSS</p>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <img src="img/about_list_3.jpg" alt="...">
                        </div>
                    </div>
                    <div class="media-body">
                         <h4>Curso de Alta Especialidad en Reemplazos Articulares</h4>
                        <p>Centro Médico Nacional "20 de Noviembre" del ISSSTE</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="img/about_1.png" alt="...">
            </div>
        </div>
    </div>
</div>
<div id="about2" class="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6" id="about_2_1_img">
                <img src="img/about_2.jpg" alt="...">
            </div>
            <div class="col-sm-6">
                <h3>Experiencia laboral</h3>
                <p>Pionero y encargado del módulo de reemplazos y reconstrucción artícular de rodilla y cadera en el IMSS Hospital General Regional 1 , en Cuernavaca Morelos, durante 3 años. En mi practica médica actual, en el Hospital General de Querétaro, es en el módulo de reemplazos articulares complejos y artroscopia de hombro y rodilla. Mi consultorio privado se encuentra en el Hospital Querétaro+</p>
                <br>
                <div class="media" style="text-align:center">
                    <a href="https://hmasqueretaro.mx/"><img src="img/about_list_4.png" alt="..."></a>
                </div>
            </div>
            <div class="col-sm-6" id="about_2_2_img">
                <img src="img/about_2.jpg" alt="...">
            </div>
        </div>
    </div>
</div>
<!-- End About -->

<!-- Start Treatments -->
<div id="treatments" class="treatments">
    <div class="container-fluid">
        <h2 class="section-title">Especialidades</h2>

        <div class="row">
            {% for treatment in site.data.treatments %}
                <div class="col-sm-6 col-md-4">
                    <div class="icon-box">
                        <svg class="icon {{ treatment.icon }}"><use xlink:href="#{{ treatment.icon }}"></use></svg>
                        <h4>{{ treatment.title }}</h4>
                        <p>{{ treatment.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- End Treatments -->

<!-- Start Our team -->
<!--<div id="team" class="team"> 
    <h2 class="section-title">Our Team</h2> 
    <div id="team-carousel">
    {% for member in site.data.team %}
        <div class="expandable-box">
            <div class="expandable-box-top">
                <img src="{{ site.baseurl }}/img/{{ member.image }}" alt="{{ member.name }}">
                <h4>{{ member.name }}</h4>
            </div>
            <div class="expandable-box-bottom">
                <a href="mailto:{{ member.email }}" data-toggle="tooltip" data-placement="bottom" title="{{ member.email }}"><svg class="icon icon-envelope"><use xlink:href="#icon-envelope"></use></svg></a>
                </a>
                <a href="tel:{{ member.phone }}" data-toggle="tooltip" data-placement="bottom" title="{{ member.phone }}"><svg class="icon icon-phone"><use xlink:href="#icon-phone"></use></svg></a>
                </a>
            </div>
        </div>
    {% endfor %}
    </div>
</div>--
<!-- End Our team -->
